.header-component{
    header.MuiAppBar-positionStatic{
        background-color: #fff !important;
        box-shadow: none;
    }

    header .css-r6ewbb-MuiToolbar-root a{
        color: #000;
        font-size: 20px;
    }

    header svg{
        color: #000;
    }
    header .css-1t6c9ts button {
        color: #000;
    }
    
}